<!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" [formGroup]="formulario" >
                    <a  class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                    <h3 class="box-title m-t-40 m-b-0">Registrate Ahora</h3><small>Crea tu cuenta</small>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre" formControlName="nombre">
                        </div>
                        <div class="alert alert-info" role="alert"  *ngIf="formulario.controls['nombre'].dirty && formulario.controls['nombre'].invalid ">
                            El nombre es requerido
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="correo" name="correo" placeholder="Email">
                        </div>
                        <div class="alert alert-info" role="alert" *ngIf="formulario.controls['correo'].errors?.required">
                            El correo es requerido
                        </div>
    
                        <div class="alert alert-info" role="alert" *ngIf="formulario.controls['correo'].errors?.email && formulario.controls['correo'].dirty">
                            No parece un formato valido
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" formControlName="password"
                            name="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" formControlName="password2"
                            name="password2" placeholder="Confirmar Contraseña">
                        </div>
                        <div *ngIf="formulario.controls['password'].invalid && formulario.controls['password'].dirty"> 

                            <div class="alert alert-info" role="alert" *ngIf="formulario.controls['password'].errors?.required">
                                La contraseña es requerida
                            </div>
        
                            <div class="alert alert-info" role="alert" *ngIf="formulario.controls['password'].errors?.minlength">
                                La contraseña debe tener al menos 5 caracteres
                            </div>

                         
        
                        </div>
                        <div class="alert alert-info" role="alert" *ngIf="formulario.errors?.sonIguales &&!formulario.pristine">
                            La contraseña deben ser iguales
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input id="checkbox-signup" formControlName="condiciones" type="checkbox">
                                <label for="checkbox-signup"> De acuerdo <a href="#">Terminos y Condiciones</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit"  [disabled]="!formulario.valid" (click)="registrarUsuario()" >Ingresar</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p> Tienes una cuenta creada? <a [routerLink]="[ '/login' ]" routerLinkActive="active" class="text-info m-l-5"><b> Ingresa aqui</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->

